/*2% 1% 47% 1% 47%|3*/
.cq-colctrl-lt6 {margin:0px; }
.cq-colctrl-lt6-c0 { width: 2%; vertical-align: top; padding-right: 3px;}
.cq-colctrl-lt6-c1 { width: 1%; vertical-align: top; padding-right: 3px;}
.cq-colctrl-lt6-c2 { width: 47%; vertical-align: top; padding-right: 3px;}
.cq-colctrl-lt6-c3 { width: 1%; vertical-align: top; padding-right: 3px;}
.cq-colctrl-lt6-c4 { width: 47%; vertical-align: top; }

/*2% 48% 48%|3*/
.cq-colctrl-lt7 {margin:0px; }
.cq-colctrl-lt7-c0 { width: 2%; vertical-align: top; padding-right: 3px;}
.cq-colctrl-lt7-c1 { width: 48%; vertical-align: top; padding-right: 3px;}
.cq-colctrl-lt7-c2 { width: 48%; vertical-align: top; }

/*48% 48%|3 */
.cq-colctrl-lt8 {margin:0px; }
.cq-colctrl-lt8-c0 { width: 48%; vertical-align: top; padding-right: 3px;}
.cq-colctrl-lt8-c1 { width: 48%;  vertical-align: top;}

/*48% 1% 48%|3 */
.cq-colctrl-lt9 {margin:0px; }
.cq-colctrl-lt9-c0 { width: 48%; vertical-align: top; padding-right: 3px;}
.cq-colctrl-lt9-c1 { width: 1%; vertical-align: top; padding-right: 3px;}
.cq-colctrl-lt9-c2 { width: 48%;  vertical-align: top;}

/*2% 98%|0  */
.cq-colctrl-lt10{margin:0px; }
.cq-colctrl-lt10-c0 { width: 2%; vertical-align: top;}
.cq-colctrl-lt10-c1 { width: 98%; vertical-align: top;}

/*2% 97% 1%|0 */
.cq-colctrl-lt11 {margin:0px; }
.cq-colctrl-lt11-c0 { width: 2%; vertical-align: top;}
.cq-colctrl-lt11-c1 { width: 97%; vertical-align: top;}
.cq-colctrl-lt11-c2 { width: 1%; vertical-align: top;}

/*30% 70%|0 */
.cq-colctrl-lt12 {margin:0px; }
.cq-colctrl-lt12-c0 { width: 30%; vertical-align: top;}
.cq-colctrl-lt12-c1 { width: 70%; vertical-align: top;}

/*20% 70% 10%|0*/
.cq-colctrl-lt13{margin:0px; }
.cq-colctrl-lt13-c0 { width: 20%; vertical-align: top;}
.cq-colctrl-lt13-c1 { width: 70%; vertical-align: top;}
.cq-colctrl-lt13-c2 { width: 10%; vertical-align: top;}

/*120px 300px|0 */
.cq-colctrl-lt14 {margin:0px; }
.cq-colctrl-lt14-c0 { width: 120px; vertical-align: top;}
.cq-colctrl-lt14-c1 { width: 300px; vertical-align: top;}

/*99% 1%|1 */
.cq-colctrl-lt15 {margin:0px; }
.cq-colctrl-lt15-c0 { width: 98%; vertical-align: top; padding-right: 1px;}
.cq-colctrl-lt15-c1 { width: 1%; vertical-align: top;}

/*2% 96% 2%|0 */
.cq-colctrl-lt16 {margin:0px; }
.cq-colctrl-lt16-c0 { width: 2%; vertical-align: top;}
.cq-colctrl-lt16-c1 { width: 96%; vertical-align: top;}
.cq-colctrl-lt16-c2 { width: 2%; vertical-align: top;}

/*50% 50%|3*/
/* TAKE NOTE */
.cq-colctrl-lt17 {
	/*margin:-18px 0px; */
	margin:0px;
	/*border:2px solid red;*/
}
.cq-colctrl-lt17-c0 { width: 49%; vertical-align: top; padding-right: 3px;}
.cq-colctrl-lt17-c1 { width: 49%; vertical-align: top;}

/*50px 350px|5 */
.cq-colctrl-lt18 {margin:0px; }
.cq-colctrl-lt18-c0 { width: 50px; vertical-align: top; padding-right: 5px;}
.cq-colctrl-lt18-c1 { width: 350px; vertical-align: top;}

/*25% 25% 25% 25%|3 */
.cq-colctrl-lt19 {margin:0px;}
.cq-colctrl-lt19-c0 { width: 24%; vertical-align: top; padding-right: 3px;}
.cq-colctrl-lt19-c1 { width: 24%; height: 100%; vertical-align: top; padding-right: 3px;}
.cq-colctrl-lt19-c2 { width: 24%; height: 100%; vertical-align: top; padding-right: 3px;}
.cq-colctrl-lt19-c3 { width: 24%; vertical-align: top;}

/*33% 33% 33%|3 */
.cq-colctrl-lt20 {margin:0px; }
.cq-colctrl-lt20-c0 { width: 32%; vertical-align: top; padding-right: 3px;}
.cq-colctrl-lt20-c1 { width: 32%; vertical-align: top; padding-right: 3px;}
.cq-colctrl-lt20-c2 { width: 33%; vertical-align: top;}

/*60% 40%|3 */
.cq-colctrl-lt21 {margin:0px; }
.cq-colctrl-lt21-c0 { width: 59%; vertical-align: top; padding-right: 3px;}
.cq-colctrl-lt21-c1 { width: 39%; vertical-align: top;}

/*440px 155px 155px|3 */
.cq-colctrl-lt22 {margin:0px; }
.cq-colctrl-lt22-c0 { width: 440px; vertical-align: top; padding-right: 3px;}
.cq-colctrl-lt22-c1 { width: 155px; vertical-align: top; padding-right: 3px;}
.cq-colctrl-lt22-c2 { width: 155px; vertical-align: top;}

/*75% 25%|3 */
.cq-colctrl-lt23 {
	/* margin:-18px 0pt; */
	margin:0px;
}
.cq-colctrl-lt23-c0 { width: 74%; vertical-align: top; padding-right: 3px;}
.cq-colctrl-lt23-c1 { width: 24%; vertical-align:top; }

/*20% 20% 20% 20% 20%|10 */
.cq-colctrl-lt24 {margin:0px; }
.cq-colctrl-lt24-c0 { width: 19%; vertical-align: top;}
.cq-colctrl-lt24-c1 { width: 19%; vertical-align: top; margin-right:10px}
.cq-colctrl-lt24-c2 { width: 19%; vertical-align: top;}
.cq-colctrl-lt24-c3 { width: 19%; vertical-align: top;}
.cq-colctrl-lt24-c4 { width: 19%; vertical-align: top;}

/*30% 70%|5 */
.cq-colctrl-lt25 {margin:0px; }
.cq-colctrl-lt25-c0 { width: 29%; vertical-align: top; padding-right: 5px;}
.cq-colctrl-lt25-c1 { width: 69%; vertical-align: top;}

/*70% 30%|10 */
.cq-colctrl-lt26{margin:0px; }
.cq-colctrl-lt26-c0 { width: 69%; vertical-align: top; padding-right: 10px;}
.cq-colctrl-lt26-c1 { width: 29%; vertical-align: top;}

/*25% 25% 25% 25%|5 */
.cq-colctrl-lt27{margin:0px; }
.cq-colctrl-lt27-c0 { width: 24%; vertical-align: top; padding-right: 5px;}
.cq-colctrl-lt27-c1 { width: 24%; vertical-align: top; padding-right: 5px;}
.cq-colctrl-lt27-c2 { width: 24%; vertical-align: top; padding-right: 5px;}
.cq-colctrl-lt27-c3 { width: 24%; vertical-align: top;}

/*20% 80%|10 */               
.cq-colctrl-lt28 {margin:0px; }
.cq-colctrl-lt28-c0 { width: 19%; vertical-align: top; padding-right: 10px;}
.cq-colctrl-lt28-c1 { width: 79%; vertical-align: top; }

/*16% 16% 16% 16% 16% 16%|0  */             
.cq-colctrl-lt29 {margin:0px; }
.cq-colctrl-lt29-c0 { width: 16%; vertical-align: top;}
.cq-colctrl-lt29-c1 { width: 16%; vertical-align: top;}
.cq-colctrl-lt29-c2 { width: 16%; vertical-align: top;}
.cq-colctrl-lt29-c3 { width: 16%; vertical-align: top;}
.cq-colctrl-lt29-c4 { width: 16%; vertical-align: top;}                    
.cq-colctrl-lt29-c5 { width: 16%; vertical-align: top;}                    

/*150px 150px 150px|5  */             
.cq-colctrl-lt30 {margin:0px; }
.cq-colctrl-lt30-c0 { width: 150px; vertical-align: top; padding-right: 5px;}
.cq-colctrl-lt30-c1 { width: 150px; vertical-align: top; padding-right: 5px;}
.cq-colctrl-lt30-c2 { width: 150px; vertical-align: top;}

/*165px 5px 250px|2      */             
/*.cq-colctrl-lt31{margin:0px; }
.cq-colctrl-lt31-c0 { width: 165px; padding-right: 2px;}
.cq-colctrl-lt31-c1 { width: 5px; padding-right: 2px;}
.cq-colctrl-lt31-c2 { width: 250px; } */

.cq-colctrl-lt31{margin:0px; }
.cq-colctrl-lt31-c0 { width: 66%; vertical-align: top; padding-right: 2px;}
.cq-colctrl-lt31-c1 { width: 3%; vertical-align: top; padding-right: 2px;}
.cq-colctrl-lt31-c2 { width: 30%; vertical-align: top;}

//*30px 5px 275px 300px|2 */
.cq-colctrl-lt32 {margin:0px; }
.cq-colctrl-lt32-c0 { width: 130x; vertical-align: top; padding-right: 2px;}
.cq-colctrl-lt32-c1 { width: 5px; vertical-align: top; padding-right: 2px;}
.cq-colctrl-lt32-c2 { width: 275px; vertical-align: top; padding-right: 2px;}
.cq-colctrl-lt32-c3 { width: 300px; vertical-align: top;}

/*60% 40%|10 */
.cq-colctrl-lt33 {margin:0px; }
.cq-colctrl-lt33-c0 { width: 59%; vertical-align: top; padding-right: 10px;}
.cq-colctrl-lt33-c1 { width: 39%; vertical-align: top;}

/*120px 120px 120px 120px 250px|5     */               
.cq-colctrl-lt34 {margin:0px; }
.cq-colctrl-lt34-c0 { width: 120px; vertical-align: top; padding-right: 5px;}
.cq-colctrl-lt34-c1 { width: 120px; vertical-align: top; padding-right: 5px;}
.cq-colctrl-lt34-c2 { width: 120px; vertical-align: top; padding-right: 5px;}
.cq-colctrl-lt34-c3 { width: 120px; vertical-align: top; padding-right: 5px;}
.cq-colctrl-lt34-c4 { width: 250px; vertical-align: top;}

/*75% 25%|10 */  
.cq-colctrl-lt35 {margin:0px; }
.cq-colctrl-lt35-c0 { width: 74%; vertical-align: top; padding-right: 10px;}
.cq-colctrl-lt35-c1 { width: 24%; vertical-align: top;}

/*50% 50%|10 */
.cq-colctrl-lt36 {margin:0px; }
.cq-colctrl-lt36-c0 { width: 47%; vertical-align: top; padding-right: 10px;}
.cq-colctrl-lt36-c1 { width: 47%; vertical-align: top;}

/*80% 20%|10 */
.cq-colctrl-lt37 {margin:0px; }
.cq-colctrl-lt37-c0 { width: 79%; vertical-align: top; padding-right: 10px;}
.cq-colctrl-lt37-c1 { width: 19%; vertical-align: top;}

/*175px 335px 230px|3 */
.cq-colctrl-lt38 {margin:0px; }
.cq-colctrl-lt38-c0 { width: 175px; vertical-align: top; padding-right: 3px;}
.cq-colctrl-lt38-c1 { width: 335px; vertical-align: top; padding-right: 3px;}
.cq-colctrl-lt38-c2 { width: 230px; vertical-align: top;}

/*13% 34% 6% 13% 34%|0 */
.cq-colctrl-lt39 {margin:0px; }
.cq-colctrl-lt39-c0 { width: 13%; vertical-align: top;}
.cq-colctrl-lt39-c1 { width: 34%; vertical-align: top;}
.cq-colctrl-lt39-c2 { width: 6%; vertical-align: top;}
.cq-colctrl-lt39-c3 { width: 13%; vertical-align: top;}
.cq-colctrl-lt39-c4 { width: 34%; vertical-align: top;}

/*13% 87%|0    */              
.cq-colctrl-lt40 {margin:0px; }
.cq-colctrl-lt40-c0 { width: 13%; vertical-align: top;}
.cq-colctrl-lt40-c1 { width: 87%; vertical-align: top;}

/*25% 25% 25% 25%|5         */      
.cq-colctrl-lt41{margin:0px; }
.cq-colctrl-lt41-c0 { width: 24%; vertical-align: top; padding-right: 2px;}
.cq-colctrl-lt41-c1 { width: 24%; vertical-align: top; padding-right: 2px;}
.cq-colctrl-lt41-c2 { width: 24%; vertical-align: top; padding-right: 2px;}
.cq-colctrl-lt41-c3 { width: 24%; vertical-align: top;}

/*25% 40% 35%|5*/
.cq-colctrl-lt42 {margin:0px; }
.cq-colctrl-lt42-c0 { width: 24%; vertical-align: top; padding-right: 5px;}
.cq-colctrl-lt42-c1 { width: 39%; vertical-align: top; padding-right: 5px;}
.cq-colctrl-lt42-c2 { width: 34%; vertical-align: top;}

/*10% 70% 20%|5*/                      
.cq-colctrl-lt43{margin:0px; }
.cq-colctrl-lt43-c0 { width: 9%; vertical-align: top; padding-right: 5px;}
.cq-colctrl-lt43-c1 { width: 69%; vertical-align: top; padding-right: 5px;}
.cq-colctrl-lt43-c2 { width: 19%; }

/*10% 55% 35%|5  */
.cq-colctrl-lt44 {margin:0px; }
.cq-colctrl-lt44-c0 { width: 9%; vertical-align: top; padding-right: 5px;}
.cq-colctrl-lt44-c1 { width: 54%; vertical-align: top;padding-right: 5px;}
.cq-colctrl-lt44-c2 { width: 34%; vertical-align: top;}

/*33% 33% 33%|10       */             
.cq-colctrl-lt45 {margin:0px; }
.cq-colctrl-lt45-c0 { width: 32%; vertical-align: top; padding-right: 10px;}
.cq-colctrl-lt45-c1 { width: 33%; vertical-align: top; padding-right: 10px;}
.cq-colctrl-lt45-c2 { width: 32%; vertical-align: top;}

/*220px 60px 480px|0 */
.cq-colctrl-lt46 {margin:0px; }
.cq-colctrl-lt46-c0 { width: 220px; vertical-align: top;}
.cq-colctrl-lt46-c1 { width: 60px; vertical-align: top;}
.cq-colctrl-lt46-c2 { width: 480px; vertical-align: top;}

/*32% 32% 32%|10 */
.cq-colctrl-lt47{margin:0px; }
.cq-colctrl-lt47-c0 { width: 32%; vertical-align: top;}
.cq-colctrl-lt47-c1 { width: 32%; vertical-align: top;}
.cq-colctrl-lt47-c2 { width: 32%; vertical-align: top;}

/*50% 25% 25%|20 */
.cq-colctrl-lt48 {margin:0px; }
.cq-colctrl-lt48-c0 { width: 49%; vertical-align: top; padding-right: 20px}
.cq-colctrl-lt48-c1 { width: 24%; vertical-align: top; padding-right: 20px}
.cq-colctrl-lt48-c2 { width: 24%; vertical-align: top;}

/*10% 80% 10%|0 */
.cq-colctrl-lt49 {margin:0px; }
.cq-colctrl-lt49-c0 { width: 10%; vertical-align: top;}
.cq-colctrl-lt49-c1 { width: 80%; vertical-align: top;}
.cq-colctrl-lt49-c2 { width: 10%; vertical-align: top;}

/*20% 80%|0 */
.cq-colctrl-lt50 {margin:0px; }
.cq-colctrl-lt50-c0 { width: 20%; vertical-align: top;}
.cq-colctrl-lt50-c1 { width: 80%; vertical-align: top;}

/*40% 60%|3 */
.cq-colctrl-lt51 {margin:0px; }
.cq-colctrl-lt51-c0 { width: 40%; vertical-align: top; padding-right: 2px}
.cq-colctrl-lt51-c1 { width: 59%; vertical-align: top;}
