.officialbox  *{ 
	margin: 0; 
	padding: 0;
}
.officialbox >ol,ul{
	list-style:none;
	padding:0px;
	margin:0px;
	font:13px Tahoma,Arial;
	height:100%;
	color:#ababab;
}
.officialbox h1 {
	font-family:'Conv_DIN_Medium',Sans-Serif;
	font-size:27px;
	text-transform:uppercase;
	color:#FFF;
	display:inline-block;
	font-weight:100;
	width:320px;
	float:left;
}
.officialbox .h1_box{
	height:60px;
	line-height:60px;
}
.officialbox .h1_box > span{
	float:right;
	font-weight:100;
}
.officialbox h2 {
	font-family:'Conv_DIN_Medium',Sans-Serif;
	font-size:20px;
	text-transform:uppercase;
	color:#FFF;
	display:inline-block;
	font-weight:100;
}
.officialbox .h2_box{
	height:50px;
	line-height:50px;
}
.officialbox .clear {
	clear:both;
	height:0px;
	line-height:0px;
}
/* button */
.officialbox .button_box1 {
	height:30px;
	line-height:30px;
	text-align:right;
	*margin-top:3px;
}
.officialbox .button_rss {
	background: url(images/button_rss.png) no-repeat;
	width:63px;
	height:30px;
	line-height:24px;
	display:inline-block;
	text-decoration:none;
	
}
.officialbox .button_rss:hover {
	background-position:bottom;
}
.officialbox .button_viewall {
	text-transform:uppercase;
	font-size:11px;
	color:#797979;
	text-decoration:none;
}
.officialbox .button_viewall:hover {
	color:#ffba00;
}
/* official releases */
.officialbox{width:450px;height:405px;}

	.news_title{
		text-align:left;
	}
.official_news_box{
	background: url(images/bg_official_news.png) no-repeat;
	width:450px;
	height:345px;
	overflow:hidden;
}
.tab_official_news{
	height:35px;
}
.tab_official_news > ul li{
	color: #EDEDED;
    display: block;
	float:left;
	line-height:34px;
	cursor:pointer;
	text-align:center;
	font-weight:bold;
	text-transform:uppercase;
}
.tab_official_news > ul li:hover{
	background:none;
}
.tab_official_news > ul .tab_new_1{
	background: url(images/bg_tab_official_news1.png) no-repeat;
	width:142px;
}
.tab_official_news > ul .tab_new_2{
	background: url(images/bg_tab_official_news2.png) no-repeat;
	width:188px;
	margin:0 4px;
}
.tab_official_news > ul .tab_new_3{
	background: url(images/bg_tab_official_news3.png) no-repeat;
	width:112px;
}
.tab_official_news > ul .tab1{
	width:142px;
}
.tab_official_news > ul .tab2{
	width:188px;
	margin:0 4px;
}
.tab_official_news > ul .tab3{
	width:112px;
}
.tab_official_news > ul li.hover{
	background:none;
}
.tab_official_news_contentbox{
	clear:both;
	padding:10px 30px;
}
.tab_official_news .news_title{
	height:30px;
	line-height:30px;
	font-size:11px;
	color:#9f9f9f;
}
.tab_official_news .news_content_box{
	position:relative;
	height:226px;
	overflow:hidden;
}
/* Slider */ 
.tab_official_news .officialflexslider {
	position:relative;
}
.tab_official_news .officialflexslider ul{
	margin:0px;
	padding:0px;
}
.tab_official_news .officialflexslider ul li{
	height:auto;
	padding-right:10px;
}
.tab_official_news .officialflex-control-nav {
	bottom:-12px;
	*bottom:-15px;
	float:left;
	position:relative; 
	left:50%;
	*left:45%;
} 
.tab_official_news .officialflex-control-nav li {
	margin: 0 0 0 10px; 
	float: left;
	position:relative;
	right:50%;
}
.tab_official_news .officialflex-control-nav li:first-child {
	margin:0;
}
.tab_official_news .officialflex-control-nav > li a {
	width: 9px; 
	height: 9px; 
	display: block; 
	background: url(images/bg_control_nav.png) no-repeat 0 0; 
	cursor: pointer; 
	text-indent: -9999px;
}
.tab_official_news .officialflex-control-nav li a:hover {
	background-position: 0 -9px;
}
.tab_official_news .officialflex-control-nav li a.officialflex-active {
	background-position: 0 -9px; 
	cursor: default;
}
/* FlexSlider Necessary Styles
*********************************/ 
.tab_official_news .officialflexslider {margin: 0; padding: 0;}
.tab_official_news .officialflexslider .officialslides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.tab_official_news .officialflex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.tab_official_news .officialslides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .officialslides {display: block;} 
* html .officialslides {height: 1%;}

/* Control Nav */
.tab_official_news .officialflex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.tab_official_news .officialflex-control-thumbs li {width: 25%; float: left; margin: 0;}
.tab_official_news .officialflex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.tab_official_news .officialflex-control-thumbs img:hover {opacity: 1;}
.tab_official_news .officialflex-control-thumbs .active {opacity: 1; cursor: default;}

	
#tab_official_news > ul {
	float: left;
	width: 100%;
}
#tab_official_news  li {
	list-style: none;
}
#tab_official_news > li {
	float: left;
}
#tab_official_news ul li.active {
	background:none;
}
#tab_official_news > ul li a {
	text-decoration: none;
	color: #EDEDED;
	font-weight: bold;
	display:inline-block;
	outline:none;
}
#tab_official_news > ul li a,area {blr:expression(this.onFocus=this.blur()) } 
#tab_official_news > ul li a:focus {-moz-outline-style: none; }
#tab_official_news-1, #tab_official_news-2, #tab_official_news-3 {
    clear: both;
    padding: 10px 30px;

	overflow:hidden;
}
.news_pic_text{
	position:absolute;
	bottom:15px;
	left:0px;
	width: 100%;
}
.news_pic_text div{
	padding:2px 10px;
	font-size:14px;
	line-height:21px;
	color:#FFF;
	background: url(images/bg_opacity.png) repeat scroll 0 0 transparent;
}
.news_pic_text div a{
	color:#FFF;
	text-decoration:none;
}
.news_pic_text div a:hover{
	text-decoration:underline;
}
.news_portrait{
	font-size:13px;
	color:#bebebe;
}
.pageInfoText{
	line-height:16px;
}
.news_portrait p{
	display:block;
}
.news_portrait a{
	color:#fff;
	text-decoration:none;
	float:none;
}
.news_portrait a:hover{
	text-decoration:underline;
}
.news_portrait span{
	font-size:18px;
	color:#fff;
	display:block;
	margin-bottom:7px;
}
.news_portrait img{
	float:left;
	margin-right:15px;
	border:0;
}
.news_portrait .CaseTwoLeft img{
	width:116px;
}

/* Text & Image */
.news_content_box .textimage2 .big_pic{
	position:relative;
}
.news_content_box .textimage2 .pic_box{
	padding:7px;
	border:1px solid #b3b3b3;
	background:#F3F1E8;
	display:inline-block;
}
.news_content_box .textimage2 .pic_box p{
	font-size:11px;
	line-height:12px;
	color:#BEBEBE;
	display:inline-block;
	padding-bottom:0px;
	margin:8px 0px;
}
.news_content_box .textimage2 .button_pic_increase{
	position:absolute;
	right:0px;
	bottom:0px;
	background:url(images/button_pic_increase.png) no-repeat;
	width:23px;
	height:23px;
	display:inline-block;
	cursor: pointer;
}
.news_content_box .textimage2 .text2 h1 {
	color: #FFFFFF;
    display: inline-block;
    font-family: Tahoma,Arial;
    font-size: 40px;
    line-height: 75px;
    text-transform: none;
	font-weight: 100;
}
.news_content_box .textimage2 .text2 h1 a {
	color: #FFFFFF;
	text-decoration: none;
}
.news_content_box .textimage2 .text2 h1 a:hover{
	text-decoration:underline;
}
.news_content_box .textimage2 .text2 h2 {
	color: #FFFFFF;
    display: inline-block;
    font-family: Tahoma,Arial;
    font-size: 20px;
    line-height: 36px;
    text-transform: none;
	font-weight: 100;
}
.news_content_box .textimage2 .text2 h2 a {
	color: #FFFFFF;
	text-decoration: none;
}
.news_content_box .textimage2 .text2 h2 a:hover{
	text-decoration:underline;
}
.news_content_box .textimage2 .text2 h3 {
	color: #FFFFFF;
    display: inline-block;
    font-family: Tahoma,Arial;
    font-size: 15px;
    line-height: 26px;
    text-transform: none;
	font-weight: 100;
}
.news_content_box .textimage2 .text2 h3 a {
	color: #FFFFFF;
	text-decoration: none;
}
.news_content_box .textimage2 .text2 a:hover{
	text-decoration:underline;
}
.news_content_box .textimage2 .text2 p {
	font-size: 14px;
    padding-bottom: 10px;
	color: #FFFFFF;
    line-height: 20px;
    font-family: Tahoma,Arial;
}
.news_content_box .textimage2 .text2 p .heading1 {
	color: #FFFFFF;
    font-family: Tahoma,Arial;
	font-size: 40px;
    line-height: 75px;
    text-transform: none;
	font-weight: 100;
}
.news_content_box .textimage2 .text2 p .heading2 {
	color: #FFFFFF;
    font-family: Tahoma,Arial;
	font-size: 20px;
    line-height: 36px;
    text-transform: none;
	font-weight: 100;
}
.news_content_box .textimage2 .text2 p .heading3 {
	color: #FFFFFF;
    font-family: Tahoma,Arial;
    font-size: 15px;
    line-height: 26px;
    text-transform: none;
	font-weight: 100;
}
.news_content_box .textimage2 .text2 p a {
	color: #BEBEBE;
    text-decoration: none;
}
.news_content_box .textimage2 .text2 p a:hover{
	text-decoration:underline;
}
.news_content_box .textimage2 ul {
	margin: 5px 0px;
	color:#BEBEBE;
	line-height:20px;
	font-size: 14px;
	font-family: Tahoma,Arial;
	list-style:none;
	padding:0px;
}
.news_content_box .textimage2 ul > li {
	background: url(images/icon_article1.png) no-repeat left 6px;
	padding-left:15px;
	line-height:20px;
	margin-bottom:12px;
}
.news_content_box .textimage2 ul li a {
	color:#BEBEBE;
	text-decoration: none;
}
.news_content_box .textimage2 ul li a:hover {
	color:#BEBEBE;
	text-decoration: underline;
}
.news_content_box .textimage2 ul > li > ul > li {
	background: url(images/icon_article2.png) no-repeat left 8px;
	padding-left:15px;
	line-height:20px;
}
.news_content_box .textimage2 ul > li > ul > li > ul > li {
	background: url(images/icon_article3.png) no-repeat left 8px;
	padding-left:15px;
	line-height:20px;
}
.news_content_box .textimage2 ol {
	margin: 5px 0px;
	color:#BEBEBE;
	line-height:20px;
	font-size: 14px;
	font-family: Tahoma,Arial;
	list-style-type:decimal;
	margin-left:20px;
	padding:0px;
}
.news_content_box .textimage2 ol > li {
	margin-bottom:12px;
}
.news_content_box .textimage2 ol li a {
	color:#BEBEBE;
	text-decoration: none;
}
.news_content_box .textimage2 ol li a:hover {
	color:#BEBEBE;
	text-decoration: underline;
}
.news_content_box .textimage2 ol > ol {
	margin: 5px 0px;
	color:#BEBEBE;
	line-height:20px;
	font-size: 14px;
	font-family: Tahoma,Arial;
	list-style-type:lower-alpha;
	margin-left:20px;
	padding:0px;
}
.news_content_box .textimage2 ol > ol > ol {
	margin: 5px 0px;
	color:#BEBEBE;
	line-height:20px;
	font-size: 14px;
	font-family: Tahoma,Arial;
	list-style-type:lower-roman;
	margin-left:20px;
	padding:0px;
}

.news_content_box .textimage2 .redLi, .richedit2 .redLi a, .richedit2 .redLi a:hover {
	color: #BEBEBE;
	/*font-size: 14px;
	font-weight: bold;
	line-height: 22px;*/
}
.parsys_column .news_content_box .textimage2 ul > li {
	margin-bottom:0;
}

/* Richedit */
.news_content_box .richedit2 h1 {
	color: #FFF;
    display: inline-block;
    font-family: Tahoma,Arial;
    font-size: 40px;
    line-height: 75px;
    text-transform: none;
	font-weight: 100;
}
.news_content_box .richedit2 h1 a {
	color: #FFF;
	text-decoration: none;
}
.news_content_box .richedit2 h1 a:hover{
	text-decoration:underline;
}
.news_content_box .richedit2 h2 {
	color: #FFF;
    display: inline-block;
    font-family: Tahoma,Arial;
    font-size: 20px;
    line-height: 36px;
    text-transform: none;
	font-weight: 100;
}
.news_content_box .richedit2 h2 a {
	color: #FFF;
	text-decoration: none;
}
.news_content_box .richedit2 h2 a:hover{
	text-decoration:underline;
}
.news_content_box .richedit2 h3 {
	color: #FFF;
    display: inline-block;
    font-family: Tahoma,Arial;
    font-size: 15px;
    line-height: 26px;
    text-transform: none;
	font-weight: 100;
}
.news_content_box .richedit2 h3 a {
	color: #FFF;
	text-decoration: none;
}
.news_content_box .richedit2 h3 a:hover{
	text-decoration:underline;
}
.news_content_box .richedit2 p {
	font-size: 14px;
    padding-bottom: 10px;
	color: #BEBEBE;
    line-height: 20px;
    font-family: Tahoma,Arial;
}
.news_content_box .richedit2 p .heading1 {
	color: #FFF;
    font-family: Tahoma,Arial;
	font-size: 40px;
    line-height: 75px;
    text-transform: none;
	font-weight: 100;
}
.news_content_box .richedit2 p .heading2 {
	color: #FFF;
    font-family: Tahoma,Arial;
	font-size: 20px;
    line-height: 36px;
    text-transform: none;
	font-weight: 100;
}
.news_content_box .richedit2 p .heading3 {
	color: #FFF;
    font-family: Tahoma,Arial;
    font-size: 15px;
    line-height: 26px;
    text-transform: none;
	font-weight: 100;
}
.news_content_box .richedit2 p a {
	color: #BEBEBE;
    text-decoration: none;
}
.news_content_box .richedit2 p a:hover{
	text-decoration:underline;
}
.news_content_box .richedit2 ul {
	margin: 5px 0px;
	color:#BEBEBE;
	line-height:20px;
	font-size: 14px;
	font-family: Tahoma,Arial;
	list-style:none;
	padding:0px;
}
.news_content_box .richedit2 ul > li {
	background: url(images/icon_article1.png) no-repeat left 6px;
	padding-left:15px;
	line-height:20px;
	margin-bottom: 12px;
}
.news_content_box .richedit2 ul li a {
	color:#BEBEBE;
	text-decoration: none;
}
.news_content_box .richedit2 ul li a:hover {
	color:#BEBEBE;
	text-decoration: underline;
}
.news_content_box .richedit2 ul > li > ul > li {
	background: url(images/icon_article2.png) no-repeat left 8px;
	padding-left:15px;
	line-height:20px;
}
.news_content_box .richedit2 ul > li > ul > li > ul > li {
	background: url(images/icon_article3.png) no-repeat left 8px;
	padding-left:15px;
	line-height:20px;
}
.news_content_box .richedit2 ol {
	margin: 5px 0px;
	color:#BEBEBE;
	line-height:20px;
	font-size: 14px;
	font-family: Tahoma,Arial;
	list-style-type:decimal;
	margin-left:20px;
	padding:0px;
}
.news_content_box .richedit2 ol > li {
	margin-bottom: 12px;
}
.news_content_box .richedit2 ol li a {
	color:#BEBEBE;
	text-decoration: none;
}
.news_content_box .richedit2 ol li a:hover {
	color:#BEBEBE;
	text-decoration: underline;
}
.news_content_box .richedit2 ol > ol {
	margin: 5px 0px;
	color:#BEBEBE;
	line-height:20px;
	font-size: 14px;
	font-family: Tahoma,Arial;
	list-style-type:lower-alpha;
	margin-left:20px;
	padding:0px;
}
.news_content_box .richedit2 ol > ol > ol {
	margin: 5px 0px;
	color:#BEBEBE;
	line-height:20px;
	font-size: 14px;
	font-family: Tahoma,Arial;
	list-style-type:lower-roman;
	margin-left:20px;
	padding:0px;
}
.news_content_box .richedit2 .redLi, .news_content_box .richedit2 .redLi a, .news_content_box .richedit2 .redLi a:hover {
	color: #BEBEBE;
	/*font-size: 14px;
	font-weight: bold;
	line-height: 22px;*/
}
.news_content_box .parsys_column .richedit2 ul > li{
	margin-bottom: 0;
}